
.main-container-users-ranking {

  .flex-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .button-container {
    flex: 0 0 20%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 1000px) {
  .main-container-my-decks {
    margin-top: 100vh;
  }

  .button-container {
    flex: 0 0 100%;
  }
}

@media screen and (max-height: 700px) {
  .main-container-my-decks {
    margin-top: 150vh;
  }

  .button-container {
    flex: 0 0 100%;
  }
}