
.public-decks-all-flashcards-container-from-user-ranking {
  position: relative;
  height: 75vh;
  width: 60vw;
  padding-right: 20px;

  .all-flashcards-text {
    margin-top: 30px;
    padding-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1650px) {
  .public-decks-all-flashcards-container-from-user-ranking {
    .all-flashcards-text {
    margin-top: 75px;
  }

    width: 92vw;

  }
}
