@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-bottom: 0;
  padding: 0;
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-position: center center;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_logo {
    height: 40vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &_header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &_link {
    color: #61dafb;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
