$flash-card-border: 2px solid #000000;
$bg-color-front: #9B4CFF;
$bg-color-back: #8325FA;
$animation: transform 0.4s linear;
$flash-card-width: 100%;

.flashcard {
  position: relative;
  height: 35vh;
  width: $flash-card-width;
  font-size: 24px;
  cursor: pointer;

  .front {
    background-color: $bg-color-front;
    transition: $animation;
  }

  .icon {

    position: absolute;
    top: 20px;
    right: 20px;
    transition:top 0.4s linear;
    z-index: 999;

  }

}


.flashcard .front,
.flashcard .back {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $flash-card-border;
  transition: $animation;
  border-radius: 15px;
}


.flashcard .back {
  background-color: $bg-color-back;
  transform: rotateX(180deg);
}

.flashcard.flipped {
  .front {
    transform: rotateX(180deg);
  }

  .back {
    transform: rotateX(0deg);
  }

  .icon {
    top: calc(-40px + #{35vh});
  }
}

@media screen and (max-width: 1000px) {
  .flashcard {
    width: 80vw;
  }

}


