
.loading-spinner-chat-container {
  position: fixed;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  .loading-spinner {
    position: absolute;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;

    animation: spin 1.6s linear infinite;


    .img-spinner {
      height: 20vh;
      width: 20vh;
    }
  }

  .loading-text {
    position: absolute;
    margin-top: 36vh;
    color: white;
    font-size: 4vh;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}