.alert {
  border: 2px solid black;
  position: fixed;
  top: 18vh;
  background-color: #ffffff;
  width: 300px;
  padding: 15px;
  border-radius: 4px;
  z-index: 999;
  font-weight: bold;

  .text-alert{
    font-size: 16px;
  }

  button.button-alert {
    position: relative;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transform: translate(-50%);
    left: 50%;
  }

  button.button-alert:hover {
    background-color: #0b7dda;
  }
}


