.voice-control-instruction {
  border: 2px solid black;
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translate(-50%);
  background-color: #2196F3;
  width: 450px;
  padding: 15px;
  border-radius: 4px;
  z-index: 999;

  font-weight: bold;
  font-size: 14px;
}
.voice-control-instruction   .commands{
  color: white;

}
.closeButtonVoiceControlInstruction {
  position: relative;
  background-color: #0b7dda;
  color: white;
  border: black 1px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  transform: translate(-50%);
  left: 50%;
}

@media screen and (max-width: 700px) {
  .voice-control-instruction{
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .voice-control-instruction{
    font-size: 11px;
    width: 350px;
  }
}