$imageSize: 36px;


.icon-learning-mode {
  position: relative;
  width: $imageSize;
  height: $imageSize;
  margin-left: auto;
  margin-right: calc(-10px);
}

.button-text {
  font-weight: bold;
}