.grid-container-buttons-learning-modes {
  position: relative;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  max-width: 3000px;

}

@media screen and (max-width: 1005px) {
  .grid-container-buttons-learning-modes{
    top: -60px;
    padding: 60px 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10%;
    max-width: 3000px;
  }

}

@media screen and (max-width: 600px) {
  .grid-container-buttons-learning-modes {
    padding: 70px 20%;
    grid-template-columns: 1fr ;
  }

}

