$bg-color-front: #388FFF;
$flash-card-border: 3px solid #000000;

.public-deck-flashcard-field {
  position: relative;
  margin-top: 20px;
  background: $bg-color-front;
  border: $flash-card-border;
  border-radius: 15px;
  font-size: 16px;

  .flashcard-field-grid {
    height: 100%;
    display: grid;
    padding: 10px;

    .front, .back-side {
       overflow-wrap: break-word;
      white-space: normal;
      word-break: break-word;
      padding: 10px 35px;
      height: 100%;
      width: 100%;
      text-align: center;
      color: white;
    }

    .front {
      grid-row: 1;
      grid-column: 1;
    }

    .back-side {
      grid-row: 1;
      grid-column: 2;
      border-left: 2px solid black;
    }
  }


  .icon-field-loudspeaker {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1005px) {
  .public-deck-flashcard-field {
  font-size: 12px;

  }

  .flashcard-field {
    .flashcard-field-grid {
      .front {

        grid-row: 1;
        grid-column: 1;
      }

      .back-side {
        grid-row: 2;
        grid-column: 1;
        border-top: 2px solid black;
        border-left: 0px;
      }
    }
  }


}