.main-container {
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}