$flash-card-bg: #b6e4fa;
$flash-card-name-category-bg: #b6e4fa;
$flash-card-title-color: white;
$flash-card-title-font-size: 40px;
$flash-card-title-font-weight: bold;

.texfields-container {

  position: absolute;
  top: 15%;
  width: 60%;
  max-height: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

.TextFieldStyle {
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: blue;
  }

  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: 4px solid black;
    background: $flash-card-bg;

  }

  .MuiInputLabel-root {
    font-weight: bold;
    top: 3%;

    &.Mui-focused {
      color: black;
      background: $flash-card-bg;
    }
  }
}

.TextFieldDeckNameCategory {
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: blue;
  }

  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: 4px solid black;
    background: $flash-card-name-category-bg;


  }

  .MuiInputLabel-root {
    font-weight: bold;
    top: 7%;

    &.Mui-focused {
      color: black;
      background: $flash-card-name-category-bg;
    }
  }
}

.webTitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-right: 50%;
  margin-bottom: 40px;
  color: $flash-card-title-color;
  font-size: $flash-card-title-font-size;
  font-weight: $flash-card-title-font-weight;
}

@media screen and (max-width: 1000px) {
  .texfields-container {
  position: absolute;
  top: 15%;
  width: 90%;
}

}