[flake8]
extend-ignore = E203
ignore = W191, F811
max-line-length = 120
exclude =
    .git,
    .idea,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
    .venv
    venv
max-complexity = 10